{% extends "base.html" %}

{%block title%}blog article{%endblock%}

{%block content%}
<div class="row text-center vertical-middle-sm">
	<h1>{{blog}}</h1>
</div>
<div class="row">
	<div class="col-xs-12 col-md-3">
		<h3>作者简介</h3>
		<p>JosonLee</p>
		<p>Python、大数据学习中。。。</p>
		<img src="https://s1.ax1x.com/2018/05/18/C6Tw9I.png" alt="C6Tw9I.png" width="200px" height="150px" border="0" />
	</div>
	<div class="col-xs-9 col-md-7">	
		<p class="text-center"><span>{{blog.author.username}}</span><span style="margin-left: 20px">{{publish}}</span></p>
		<div>{{blog.body}}</div>
</div>
	<div class="col-xs-2 col-md-2">
		<h2>广告</h2>
		<p><a target="_blank" href="https://www.baidu.com">百度一下:</a><a target="_blank" 	href="https://blog.csdn.net/lzw2016"><span>lzw2016</span></a> </p>
		<img src="https://tse4.mm.bing.net/th?id=OIP.9zkKGHtU0FkbjYXV7DL4bQHaFE&pid=Api" width="200px">
	</div>
</div>
{%endblock%}
